# --- Python Basics ---
__pycache__/
*.pyc

# --- Virtual Environments (Crucial!) ---
venv/
env/
.env

# --- VS Code Settings ---
.vscode/

# --- Flask & Web ---
instance/
.webassets-cache

# --- Operating System Files ---
.DS_Store
Thumbs.db

# --- Logs & Databases ---
*.log
*.sqlite3
